/* src/components/HeroSection.css */
.hero-container{
    height: 100vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 50%, rgba(255, 76, 76, 0.6) 50%), 
                url('../assets/HeroSection.jpg') no-repeat center center;
    background-size: cover;
}
.hero {
    display: flex;
    align-items: center;
    color: white;
    padding-left: 40px;
    position: relative;
  }
  
  .hero-content {
    position: relative;
    z-index: 2;
  }

  .hero-content h2{
    padding-bottom: 40px;
    font-size: 40px;
    font-style: italic;
    font-weight: bolder;
  }

  .hero-content h1{
    padding-bottom: 40px;
    font-size: 100px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: bolder;
  }

  .hero-content p{
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: bolder;
  }

  .list{
    padding-top: 10px;
    list-style: none; 
    padding-left: 0px;
    line-height: 2;
    font-size: 15px;
  }

  .list img{
    margin-right: 10px;
    width: 17px;
  }

  .button{
    padding-top: 40px;
  }
  
  .buy-now {
    padding: 15px 25px;
    background-color: #ff4c4c;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }
  
  .hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  
.header {
    color: white;
    padding: 10px 20px;
  }
  
  .navbar {
    display: flex;
    font-size: 19px;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
  }
  
  .cart {
    display: flex;
    gap: 10px;
    font-size: 19px;
  }

  .nav-login-cart{
    width: 30px;
    margin-top: -5px;
    cursor: pointer;
}

.nav-cart-count{
    width: 17px;
    height: 17px;
    margin-top: -10px;
    margin-left: -22px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    font-size: 14px;
    background: #ffffff;
    color: rgb(0, 0, 0);
}
  